.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
}
